/* Base Styles base.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #efefef 0%, #ffffff 100%);
    color: #14332b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

:root {
    --primary: #083c35;
    --secondary: #0a6055;
    --shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --muted: #6c757d;
    --background: #f8f9fa;
}