/* Layout Styles layout.css*/

.navbar {
  background: var(--primary);
  color: #fff;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: var(--shadow);
  position: fixed;
  top: 0; 
  z-index: 1000;
}

.hero {
  background-image: url('../assets/imgBanner.jpg');
  height: 260px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: 0 6px 15px rgb(0, 0, 0);
  width: 100%;
  margin-top: 60px;
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-basis: 220px;
  flex-shrink: 0;
}

.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 55px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-menu a:hover {
  text-decoration: underline;
}