/* Page Laporan Styles page-laporan.css*/
.card {
    width: 100%;
    max-width: 1800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(15, 122, 74, 0.08);
    margin: 40px 16px;
    padding: 28px;
    margin-top: -50px;
    z-index: 10;
}

.title-form {
    font-size: 18px;
    color: var(--primary);
    margin: 0 0 4px;
}

p.lead {
    margin: 0 0 18px;
    color: var(--muted);
    font-size: 13px;
}

form {
    display: grid;
    gap: 12px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    color: var(--secondary);
    font-weight: 600;
    display: block;
}