/* RESERVASI PAGE STYLES page-reservas.css */

.section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-items: center;
}

/* MOUNTAIN CARD */
.mountain-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.mountain-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.mountain-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

/* CARD CONTENT */
.mountain-details {
  padding: 18px 20px 25px;
}

.mountain-card__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.mountain-card__subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 15px;
}

.mountain-card__info {
  list-style: none;
  padding: 0;
  margin-bottom: 18px;
  line-height: 1.6;
  font-size: 15px;
  color: #555;
  font-size: 0.95rem;
}

.mountain-card__info li {
  margin-bottom: 8px;
}

.mountain-card__info img.detail-icon {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 6px;
}

.no-camping {
  color: #d43f3a;
}

.yes-camping {
  color: #e67e22;
}

.no-water {
  color: #555;
}


/* BUTTON */
.btnReservasi {
  width: 100%;
  padding: 12px 0;
  background: #007B5E;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.btnReservasi:hover {
  background: #005E46;
}


@media (max-width: 1024px) {
  .section .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .mountain-card {
    width: 90%;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .section .container {
    grid-template-columns: 1fr;
    gap: 18px;
    padding: 30px 15px;
  }

  .mountain-card {
    width: 100%;
    max-width: 360px;
  }

  .mountain-card img {
    height: 200px;
  }

  .mountain-card__title {
    font-size: 18px;
  }

  .btnReservasi {
    padding: 10px 0;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .mountain-card img {
    height: 180px;
  }

  .mountain-card__title {
    font-size: 17px;
  }
}