.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #083c35;
  padding: 20px;
}

.split-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.split-left .content {
  width: 80%;
  max-width: 400px;
}

/* Input */
.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #aaa;
}

.password-group {
  position: relative;
}

.password-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 8px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}

.toggle-password:hover {
  opacity: 1;
}

.forgot {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #083c35;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* Tombol SIGN IN */
.signin-btn {
  background-color: #0f7a4a;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.signin-btn:hover {
  background-color: #0d6b40;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 14px;
  padding: 20px;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

/* Tombol SIGN UP */
.white-btn {
  background-color: #ffffff;
  color: #0f7a4a;
  border: 2px solid #0f7a4a;
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.white-btn:hover {
  background-color: #0f7a4a;
  color: white;
}

.split-right {
  flex: 1;
  background-color: #083c35;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}